$font: 'Inconsolata', monospace;
$white: #fff;
$black: #000;
$yellow: #BB6614;
$siteColor: #2a3132;
$uiColor: #a29896;
$rain: ('../pictures/rain.jpg');
$snow: ('../pictures/snow.jpg');
$thunderstorm: ('../pictures/thunderstorm.jpg');
$snowfall: ('../pictures/snowfall.jpg');
$clearsky: ('../pictures/clearsky.jpg');
$cloudy: ('../pictures/cloudy.jpg');
$cloudySky: ('../pictures/cloudysky.jpg');



html, body,
	margin : 0;
	padding: 0;

body 
	font: 100% $font;
	background-color: $siteColor;


.container 
	max-width: 1200px;

#header
	h2
		text-align: center;
		font-size: 50px;
		color: $black;

	.search_form 
		margin: 0 auto; 
		text-align: center;

#main 
	background: url($snowfall) no-repeat center;
	background-size: cover;
	height: 80vh;
	color: $white;
	
	
	.weather_info
		width: 33%;
		margin-top: 0.5rem;
		opacity: 1;
		background: rgba(0,0,0,0.3);
		font-size: 2em;
		padding: 2rem;
	
	h1
		font-size: 5em;

	h3
		font-weight: bolder;
		
.ui-autocomplete
	background: rgba(0,0,0,0.3);
	opacity: 1; 
	color: $white;
	list-style-type: none;
	font-size: 16px;
	width: 100px;
	padding: 2px 5px 0;

#footer
	text-align: center;
	font-size: 2em;






			
				


		

		

	
	
	 




	